.ui-autocomplete li a {
	padding: 4px 5px !important;
}
.ui-autocomplete {
	min-width:24.8em;
}
.contact_manager table tr td {
	vertical-align:middle;
}
table input[type="text"] {
	padding-top:5px;
	padding-bottom:5px;
}

.ui-state-highlight {
	background:#F6F6F6;
	height:68px !important;
	border:0px dotted #DDD !important;
	display:block;
	margin:0 !important;
	padding:0 !important;
}
.people_table th, .people_table td {
	vertical-align:middle !important;
}
.forminp{position:relative;}
.widefat .control {
    float: none !important;
    padding-top: 0px;
    position: relative !important;
    right: 0px;
    text-align: center !important;
}
 @media only screen and (min-width: 768px) {
 .col-left {
float:left;
width:40%;
}
 .col-right {
float:right;
width:59%;
margin-top:5px;
}
}